.addtask {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  &_title {
    margin-bottom: 1.5rem;
  }
  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__input {
      @include input;
      width: 15rem;
      margin-bottom: 0.75rem;
      text-decoration: none;
      padding: 0.5rem;
    }
    &__input:focus {
      outline: none;
    }
    &__button {
      @include button;
      width: 8rem;
      padding: 0.5rem 0 0.5rem 0;
    }
    &__button:hover {
      @include button-hover;
    }
  }
}
