body {
  font-family: "Bangers", sans-serif;
  font-style: normal;
  background-color: $color-secondary;
}

h1 {
  color: $color-white;
  -webkit-text-stroke: 1px $color-secondary;
}

h2 {
  color: $color-primary;
  -webkit-text-stroke: 0.25px $color-white;
}

p {
  color: $color-primary;
}

input {
  font-family: "Bangers", sans-serif;
  color: $color-secondary;
}

button {
  font-family: "Bangers", sans-serif;
  color: $color-secondary;
}
